<% if(session.cart) {%>
<section class="cart">
    <div class="cart-area">
        <div class="c-order">
            <img src="/img/cart.svg" alt="">
            <h3>Order summary</h3>
        </div>
        <hr>
        <div class="cart-box">
            <% for(let pizza of Object.values(session.cart.items)){ %>
                <div class="cart-item flex">
                    <div class="item-img">
                        <img src="/img/<%= pizza.item.image%>" alt="">
                        <div class="item-name">
                            <h2><%= pizza.item.name%></h2>
                            <h5><%= pizza.item.size%></h5>
                        </div>
                    </div>
                    <span><%= pizza.qty%> pcs</span>
                    <span><%= pizza.qty * pizza.item.price%> RS</span>
                </div>
            <%}%>
        </div>
        <hr>
        <div class="order-details">
            <div class="amount">
                <span>Total Amount: </span>
                <span><%= session.cart.totalPrice%> RS</span>
            </div>
            <% if(user) {%>
            <div>
                <form action="/order" method="post" class="user-detail">
                    <div><span class="error"><%= messages.error%></span></div>
                    <input name="phone" type="text" placeholder="Phone Number"><br>
                    <input name="address" type="text" placeholder="Address"><br>
                    <button class="btn" type="submit">Order Now</button>
                </form>
            </div>
            <% } else { %>
            <a href="/login"><button class="btn">Login to continue</button></a>
            <% } %>
        </div>
    </div>
</section>
<% } else {%>
<section class="empty-cart">
    <div class="e-cart">
        <h2>Cart Empty !</h2>
        <p>You probably haven't ordered a pizza yet,<br>To order a pizza go to the main page.</p>
        <img src="/img/cart.avif" alt="">
        <div><a href="/"><button class="cart-btn btn">Go back</button></a></div>
    </div>
</section>
<% }%>